li:nth-child(even){
    background-color: beige;
}

#myCharts{
    width: 100%;
    max-width: 700px;
}

#donat{
    width: 300px;
    height: 300px;
}

.charts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style:decimal;
    text-align: center;
    
}

canvas{
    margin: 50px;
    width: 50vw;
    height: 300px;
}
